@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

body {
  font-family: "Vazirmatn", sans-serif, Arial;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
}